<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>ثبت شد</title>
</head>
<body>
  <div class="container-fluid">
    <h1>موفقانه ثبت شد!</h1>
    <p><strong>کتگوری:</strong> <%=proverb.category %></p>
    <a href="/"><button class="btn">ثبت ضرب‌المثل جدید</button></a>
    <a href="/proverbs"><button class="btn">لیست ضرب‌المثل‌ها</button></a>
  </div>
</body>
</html>