*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-image: url(../images/po.jpg) ;
    background-repeat: repeat;
     width: 100%;
     height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: 0 0 50px 0; */
    direction: rtl;
    position: relative;
  }
  /* body img{
    
     
  
    background-repeat:repeat;
    height: 300px;
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  } */
/* header */
.nav{
  background-color: #917bb9;
  top: 0;
  padding: 10px;

}
.nav-link{
  text-decoration: none;
  background-color: white;
  color: #121842;
  border: 2px solid #1d2352;
  border-radius: 20px;
  font-size: 20px;
  
}
.nav-link:hover{
  background-color: #66479e;
  color: white;
  border: 2px solid white;

}
.mb-4{
  margin-left: 100px;
}

  /* heading  */
  a{
    text-decoration: none;
    color: green;
  }
  .header {
    background-color: #f8f07c;
    position: fixed;
    top: 0;
    margin: auto;
  }

  h1.mb-4{
    width: 30%;
    border-radius: 20px;
    margin: auto;
    animation: animate 2s infinite;
    padding: 20px;
  }
  @keyframes animate{
    50%{
      transform:rotateX(30deg);
      text-shadow: 15px 3px 8px rgb(243, 57, 57);
     background-color: rgb(252, 255, 240);
     border: none;
    }
  }
  /* form body */
  .container{
    background-color: #917bb9;
    opacity: 1;
    border-radius: 20px;
    border: 2px solid #121842;
    color: black;
    padding: 70px;
    height:auto;
  }
  .container .one{
    margin-top: -13px;
  }
  .container input{
  margin-top: 15px;
  justify-content: space-between;

 }
 .btn{
  font-size: 15px;
  font-weight:bold;
  background-color: white;
  color: #121842;
  margin: auto;
  padding: 20px;
  transition: transform 0.3s ease;
  border-radius: 30px;
  border: 2px solid #1d2352;
}
.btn:hover{
  background-color: #66479e;
  color: white;
  border: 2px solid white;
  transform: scale(1.1);
}
/* success page */
.container-fluid{
  margin: auto;
  background-color: #917bb9;
  border: 2px solid;
  width: 50%;
  height: 70%;
  color: white;
  border-radius: 50px;
  font-size: 30px;
}
/* proverbs list page */
.body-list{
  margin: auto;
  width: 50%;
}
p {
  margin-bottom: 25px;
  font-size: 1.05rem;
}
.boxs{
  display: block;
  background: #917bb9;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 8px;
  font-weight: 500;
  margin: 20px;
}
.boxs button {
  margin:auto;
  padding: 6px 12px;
  border: none;
  background-color: #1d2352;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.boxs button:hover {
  background-color: white;
  color: #66479e;
}
/* edit page */
.edit-form{
    margin: auto;
    background-color:#917bb9;
    width: 60%;
    border: 3px solid white;
    border-radius: 30px;
}
.edit-form input,textarea{
  padding: 10px;
  background-color: #66479e;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
}
